cryptography>=41.0.0
streamlit>=1.28.0
pandas>=2.0.0
numpy<2.0
matplotlib

# Instalamos una versión reciente que se encuentra en PyPI
# Nota: El nombre del paquete instalado es 'oqs' (el módulo) pero en PyPI es 'liboqs-python'
liboqs-python==0.9.0